<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card>
 
    <img src="assets/rent-a-car-logo-vector-1735733.jpg" alt="">
    <ion-card-header><h1>About Developer:</h1></ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p>Name: Sheheryar Afzal</p>
        </ion-item>
        <ion-item>
          <p>Email: sheheryar003@gmail.com</p>
        </ion-item>
        <ion-item>
          <p>company: @yakktechs</p>
        </ion-item>
        <ion-item>
          <p>Institution: IIUI</p>
        </ion-item>
        <ion-item >
          <p >Full Stack Developer</p>
        </ion-item>
      </ion-list>
        
    </ion-card-content>
</ion-card>
